<div class="add-products">
	<div class="container">
		<div class="add-products-row">
			{{#each specialoffers}}
			<div class="w3ls-add-grids" style="margin-right:5px; background:url('./images/ads/{{image}}')no-repeat 0px 0px; background-size: contain;">
				<a href="{{link}}">
					<h4>{{{maintext}}}</h4>
					<h6>{{{description}}}</h6>
				</a>
			</div>
			{{/each}}
			{{!--<div class="w3ls-add-grids w3ls-add-grids-mdl">
				<a href="products1.html">
					<h4>SUNDAY SPECIAL DISCOUNT FLAT <span>40%</span> OFF</h4>
					<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
				</a>
			</div>
			<div class="w3ls-add-grids w3ls-add-grids-mdl1">
				<a href="products.html">
					<h4>LATEST DESIGNS FOR YOU <span> Hurry !</span></h4>
					<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
				</a>
			</div>--}}
			
			<div class="clerfix"> </div>
		</div>
	</div>
</div>