<div class="soon">
	<div class="container">
		<h3>Mega Deal Of the Week</h3>
		<h4>Get ready for 30 hours of exclusive deals, launches & premieres.</h4>
		<div id="countdown1" class="ClassyCountdownDemo"></div>
	</div>
</div>
